@model IEnumerable<WheeMVC.Models.ListViewModel>

@using WheeMVC.Models



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage3.cshtml";
}

<form id="form1" method="post">

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            <a href="Accueil.aspx" class="logo d-flex align-items-center">
                <img src="~/tools/img/wheeBan.png" alt="" />
            </a>


        </div>

        <!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        @{
                            string img = (String)Session["img"];
                            string nom = (String)Session["nom"];
                            string prenom = (String)Session["prenom"];
                          
                                        <img id="imgProfil" class="rounded-circle" src=@img />
                                        <span class="d-none d-md-block dropdown-toggle ps-2">
                                            @nom <span>.</span>@prenom
                                        </span>
                                    

                                

                         }
                        




                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6><Label id="LabelPram" /></h6>
                            @{
  
                                        <span class="d-none d-md-block dropdown-toggle ps-2">
                                            @prenom<span>.</span>@nom
                                        </span>
                             }



                            <span>Covoitureur</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>Mon Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Paramettres de Compte</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Aide?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Se deconnecter</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Navbar -->
    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a href="Accueil.aspx" class="nav-link collapsed">
                    <i class="bi bi-house-door-fill"></i><span>Accueil</span>
                </a>

            </li><!-- End Tables Nav -->

            <li class="nav-item">
                <a href="WebForm.aspx" class="nav-link collapsed">
                    <i class="bi bi-star-fill"></i><span>Evènements</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="tables-general.html">
                            <i class="bi bi-circle"></i><span>Liste</span>
                        </a>
                    </li>
                    <li>
                        <a href="tables-data.html">
                            <i class="bi bi-circle"></i><span>Ajout</span>
                        </a>

                    </li>
                </ul>
            </li><!-- End Tables Nav -->
        </ul>
    </aside><!-- End of sidebar-->
    <!-- ======= Main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Où voulez-vous aller ?</h1>
        </div><!-- End Page Title -->
        <!-- Add Section -->
        <section class="section" id="Add">
            <div class="row">

                <!-- Départ -->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Lieu de départ</h5>
                            <div class="search-bar">
                                <div class="search-form d-flex align-items-center" method="POST" action="#">
                                    <input name="pointdepart" type="text" class="form-control" />

                                </div>
                            </div><!-- End Search Bar -->
                        </div>
                    </div>
                </div>

                <!-- Arriver -->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Lieu d'arrivée</h5>
                            <div class="search-bar">
                                <div class="search-form d-flex align-items-center" method="POST" action="#">
                                    <input name="point arrive" type="text" class="form-control" />


                                </div>
                            </div><!-- End Search Bar -->
                        </div>
                    </div>
                </div>
                <!-- Date -->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Date de départ</h5>
                            <div class="search-bar">
                                <div class="search-form d-flex align-items-center" method="POST" action="#">
                                    <input id="datecov" type="date" class="form-control" />

                                </div>
                            </div><!-- End Search Bar -->
                        </div>
                    </div>
                </div>
                <!-- Heure -->
                <div class="col-lg-3">
                    <div class="card mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Heure de départ</h5>
                            <div class="search-bar">
                                <div class="search-form d-flex align-items-center" method="POST" action="#">
                                    <input id="heuredepart" type="time" class="form-control" />
                                    <button ID="SubmitBtn" Class="btn btn-small btn-primary " type="submit">Rechercher</button>
                                </div>
                            </div><!-- End Search Bar -->
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Add Section -->
        <section class="section" id="List">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <!-- Table with hoverable rows -->



                    @foreach (ListViewModel item in Model)
                    {
                        if (item.imgP != null)
                        {
                            break;
                        }
                        <div class="card">

                            <div class="card-header " id="myDiv">

                                @item.type_annonce

                            </div>

                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row">
                                        <div class="col-sm ">
                                            <br />

                                            <img src=@item.img height="90" width="90" class="rounded-circle" />


                                            <h4 class="card-title text-center">
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </h4>
                                        </div>
                                        <div class="col-sm">

                                            <h4 class="card-title">@item.pointdepart<span>-</span>@item.pointarrive</h4>
                                            <H5 class="card-text">Date:@item.datecov; Heure de départ:@item.heuredepart</H5>
                                            <br />
                                            <Button id="ButtonAnnonce" href="#" class="btn btn-primary ">@item.textbtn</Button>



                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="card-footer text-muted">
                                2 days ago
                            </div>

                        </div>

                    }



                    <!-- End Table with hoverable rows -->
                </div>
            </div>
        </section>
    </main>
</form>
